ENV=development
APP_NAME=Python Togo API Version 2.1.0
BUSINESS_NAME=
DEBUG=
BASE_URL=
ROOT_PATH=

SECRET_KEY=your_secret_key_here
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=


DB_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

REDIS_URL=

LOG_LEVEL=
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

VOLUNTEERING_TEAM_EMAIL=
TICKETING_TEAM_EMAIL=
CONTACT_TEAM_EMAIL=
SPONSORSHIP_TEAM_EMAIL=

# ========== ADMIN notification service ==========
ADMIN_SMTP_SERVER=
ADMIN_SMTP_PORT=
ADMIN_SMTP_USER=
ADMIN_SMTP_PASSWORD=


PAYDUNYA_PUBLIC_KEY=
PAYDUNYA_PRIVATE_KEY=
PAYDUNYA_TOKEN=
PAYDUNYA_MASTER_KEY=

WEBHOOK_SECRET_KEY=your_webhook_secret_key_here
WEBHOOK_URL=https://yourdomain.com/webhook/payments_callback

SUCCESS_PAGE_URL=https://yourdomain.com/payment/success
CANCEL_PAGE_URL=https://yourdomain.com/payment/cancel

# ── Cloudinary (upload photos speakers) ──────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=pythontogo

DB_SSL_MODE=disable

# Pool de connexions
DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=5
DB_POOL_TIMEOUT=10


IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=


STUDENT_PASS_TEMPLATE_URL=
PROFESSIONAL_PASS_TEMPLATE_URL=
PREMIUM_PASS_TEMPLATE_URL=
DINNER_PASS_TEMPLATE_URL=


